<template name="user">
	<li>
		<div class="collapsible-header"><i class="material-icons left">perm_identity</i>{{profile.name}}</div>
		<div class="collapsible-body">
			<!-- ID: {{_id}} -->
			<!-- <p>Google mail: {{services.google.email}}</p> -->
			<!-- <p>Facebook mail: {{services.facebook.email}}</p> -->
			<p>Mail: {{email}}</p>
			<p><a id="user-remove" class="waves-effect btn"><i class="material-icons left">not_interested</i>Remove user</a>

			<a id="user-admin" class="waves-effect btn"><i class="material-icons left">grade</i>Give admin privileges</a>
			</p>			
		</div>
	</li>
</template>

<template name="usersList">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Users list</span>
			<br />
			<ul class="collapsible z-depth-0">
				{{#each users}}
					{{> user}}
				{{/each}}
			</ul>
		</div>
	</div>
</template>


<template name="boat">
	<li>
		<div class="collapsible-header"><i class="material-icons left">navigation</i>{{name}}</div>
		<div class="collapsible-body">
			<p>Description: {{description}}<br />
				Type: {{BoatType "name"}}<br />
				Capacity: {{BoatType "capacity"}}
				<br /><br />
				<a id="boat-remove" class="waves-effect btn"><i class="material-icons left">not_interested</i>Remove boat</a>
				
			</p>
		</div>
	</li>
</template>


<template name="boatsList">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Boats list</span>
			<br />

			<ul class="collapsible z-depth-0">
				{{#each boats}}
					{{> boat}}
				{{/each}}
			</ul>

			<ul class="card collapsible z-depth-0">
				<li class="card-content"> 
					<span class="card-title collapsible-header">Add boat</span>
					{{> insertBoatForm}}
				</li>
			</ul>

			<ul class="card collapsible z-depth-0">
				<li class="card-content">
					<span class="card-title collapsible-header">Add boat types</span>
					{{> insertBoatTypesForm}}
				</li>
			</ul>
		</div>
	</div>
</template>


<template name="event2">
	<li>
		<div class="collapsible-header"><i class="material-icons left">stars</i>
		<strong>Date: </strong>{{hourFormat Date}} {{dayFormat Date}}
		{{#if groupID}}<strong>Group: </strong>{{/if}}{{parseUserGroupNames groupID}}
		{{#if peopleIDs}}<strong>Rowers: </strong>{{/if}}{{parseUserNames peopleIDs}}
		{{#if boatID}}<strong>Boat: </strong>{{/if}}{{parseBoatNames boatID}}</div>
		<div class="collapsible-body">
			<p>	
				{{#if distance}}<strong>Distance: </strong>{{distance}}<br />{{/if}}
				{{#if time}}<strong>Time: </strong>{{time}}<br />{{/if}}
				{{#if comment}}<strong>Comments: </strong>{{comment}}<br />{{/if}}
				{{#if training}}<strong>Training: </strong>{{parseTraining training}}<br />{{/if}}
				<br />
				<a id="event-remove" class="waves-effect btn"><i class="material-icons left">not_interested</i>Remove session</a>

			</p>
		</div>
	</li>
</template>


<template name="eventsList">
	<div class="card">
		<div class="card-content">
			<span class="card-title ">Sessions list</span>
			<br />

			<ul class="collapsible z-depth-0">
				{{#each events2}}
					{{> event2}}
				{{/each}}
			</ul>

			<ul class="card collapsible z-depth-0">
				<li class="card-content ">
					<span class="card-title collapsible-header">Add session</span>
					{{> insertEventForm}}
				</li>
			</ul>
		</div>
	</div>
</template>

<template name="training">
	<li>
		<div class="collapsible-header"><i class="material-icons left">assessment</i>{{name}}</div>
		<div class="collapsible-body">
			<p>
				{{description}}
				<br /><br />
				<ul class="collection">
					{{#each plan}}
						<li class="collection-item">{{this}}</li>
						<br />
					{{/each}}
				</ul>
				<br /><br />
				<a id="event-remove" class="waves-effect btn"><i class="material-icons left">not_interested</i>Remove training</a>
			</p>
		</div>
	</li>
</template>

<template name="trainingsList">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Training plans list</span>
			<br />

			<ul class="collapsible z-depth-0">
				{{#each trainings}}
					{{> training}}
				{{/each}}
			</ul>

			<ul class="card collapsible z-depth-0">
				<li class="card-content">
					<span class="card-title collapsible-header">Add event</span>
					{{> insertTrainingsForm}}
				</li>
			</ul>
		
		</div>
	</div>
</template>


<template name="group">
	<li>
		<div class="collapsible-header"><i class="material-icons left">supervisor_account</i>{{name}}</div>
		<div class="collapsible-body">
			<p>Description: {{description}}
			<div class="card z-depth-0">
				<div class="card-content">
					<span class="card-title">Users list</span>
					<br />
					<ul class="collapsible z-depth-0">
						{{#each userId in peopleIDs}}
							{{> user (parseUser userId)}}
						{{/each}}
					</ul>
				</div>
			</div>
			<a id="group-remove" class="waves-effect btn"><i class="material-icons left">not_interested</i>Remove group</a>
			</p>
		</div>
	</li>
</template>

<template name="groupsList">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Groups list</span>
			<br />
			
			<ul class="collapsible z-depth-0">
				{{#each groups}}
					{{> group}}
				{{/each}}
			</ul>

			<ul class="card collapsible z-depth-0">
				<li class="card-content">
					<span class="card-title collapsible-header">Add group</span>
					{{> insertGroupForm}}
				</li>
			</ul>

			
		</div>
	</div>
</template>




<template name="insertTrainingsForm">
	<div class="collapsible-body"> 
		{{> quickForm collection="Trainings" id="insertTrainingsForm" type="insert"}}
	</div>
</template>

<template name="insertBoatForm">
	<div class="collapsible-body"> 
		{{> quickForm collection="Boats" id="insertBoatForm" type="insert"}}
	</div>
</template>

<template name="insertBoatTypesForm">
	<div class="collapsible-body"> 
		{{> quickForm collection="BoatTypes" id="insertBoatTypesForm" type="insert"}}
	</div>
</template>

<template name="insertGroupForm">
	<div class="collapsible-body"> 
		{{> quickForm collection="Groups" id="insertGroupForm" type="insert"}}
	</div>
</template>

<template name="insertEventForm">
	<div class="collapsible-body"> 
		{{> quickForm collection="Events" id="insertEventForm" type="insert"}}
	</div>
</template>

<template name="adminView">
	{{>eventsList}}
	<br /><br />           
	{{>usersList}}
	<br /><br />
	{{>groupsList}}
	<br /><br />
	{{>boatsList}}
	<br /><br />
	{{>trainingsList}}
</template>