<template name="rowNow">
	<br />
	<!-- <ul class="card">
		<li class="card-content">
			<span class="card-title">Sessions</span>
			<div class=""> -->
				{{#autoForm collection="Events" id="newSession" type="insert" resetOnSuccess=true}}
				    <fieldset>
				    	<legend>Row now</legend>
				    	<div class="row">
					      <div class="col s6">
						      {{> afQuickField name='peopleIDs'}}
						      {{> afQuickField name='groupID'}}
					      </div>
					      <div class="col s6">
						      {{> afQuickField name='boatID'}}
						      {{> afQuickField name='training'}}
						  </div>
						</div>

						<div class="row">
								<div class="col offset-s3 s6">
									 <button type="submit" class="btn btn-primary blue darken-3 session-new" style="display: block; width: 100%;"><span style="vertical-align: top;">Start session</span><i class="material-icons" style="vertical-align: top;">play_arrow</i></button>
								</div>
						</div>
						
					</fieldset>
				      
				    
				    
				  {{/autoForm}}
<!-- 			</div>
		</li>
	</ul> -->

</template>

<template name="ongoingSessions">
	<div class="card z-depth-0">
		<div class="card-content">
			<span class="card-title">Ongoing Sessions:</span>
			<ul class="collapsible z-depth-0">
				{{#each eventsOngoing}}
					{{> eventOngoing}}
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="eventOngoing">
	<li>
		<div class="collapsible-header"><i class="material-icons left">loop</i>
		<strong>Date: </strong>{{hourFormat dateStarted}} {{dayFormat dateStarted}}
		{{#if groupID}}<strong>Group: </strong>{{/if}}{{parseGroupName groupID}}
		{{#if peopleIDs}}<strong>Rowers: </strong>{{/if}}
		{{#if groupID}}{{parseGroupUserNames groupID}}, {{/if}}{{parseUserNames peopleIDs}}
		{{#if boatID}}<strong>Boat: </strong>{{/if}}{{parseBoatNames boatID}}</div>
		<div class="collapsible-body">
		<div class="row">
			<div class="col s6">
				<p>	
					{{#if distance}}<strong>Distance: </strong>{{distance}} kilometres<br />{{/if}}
					{{#if time}}<strong>Estimated duration: </strong>{{time}} minutes<br />{{/if}}
					{{#if comment}}<strong>Comments: </strong>{{comment}}<br />{{/if}}
					{{#if training}}
					<div class="row">
						<div class="col s3">
							<strong>Trainings: </strong> <!-- </strong>{{parseTraining training}} -->
						</div>
						<div class="col s9">
							{{#each parseTrainings training}}
								{{> trainingView}}
							{{/each}}
						</div>
					</div>
					{{/if}}
					{{#each boats_trained this.boatID}}
					<!-- {{> quickForm collection="Boats" doc=this id=random type="update" buttonContent=false autosave=false fields="reports"}} -->
					

					{{#autoForm collection="Boats" doc=this id=random type="update" autosave=true buttonContent=false}}
					    <fieldset>
					      <legend>{{this.name}}</legend>
					      {{> afQuickField name='reports' placeholder=boatsCondition}} 
					      <button type="submit" class="btn btn-flat damage">Report damage<i class="material-icons right">report_problem</i></button>
					    </fieldset>   
					  {{/autoForm}}

					  {{/each}}
					<br />
					 <!-- {{#quickRemoveButton collection="Events" _id=this._id class="waves-effect btn"}}Delete session<i class="material-icons left">not_interested</i>{{/quickRemoveButton}} -->
				</p>
			</div>
			<div class="col s6">
				<p>
				<!-- {{> quickForm collection="Events" doc=this id=this._id type="update" buttonContent=false autosave=true}} -->
				{{#autoForm collection="Events" doc=this id=this._id type="method-update" meteormethod="sessionEnd" buttonContent=false singleMethodArgument=true}}
				    <fieldset>
				      <legend>Check the session</legend>
				      {{> afQuickField name='comment'}}
				      {{> afQuickField name='distance'}}   
				      <button type="submit" class="btn btn-primary green session-end">Mark as done!<i class="material-icons right">done</i></button>
				    </fieldset>   
				  {{/autoForm}}
				</p>
			</div>
		</div>
		
		</div>

	</li>
</template>




<template name="plannedSessions">
	<div class="card z-depth-0">
		<div class="card-content">

			<span class="card-title">Planned Sessions:</span>
			<ul class="collapsible z-depth-0">
				{{#each eventsPlanned}}
					{{> eventPlanned}}
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="eventPlanned">
	<li>
		<div class="collapsible-header"><i class="material-icons left">trending_up</i>
			<strong>Date: </strong>{{hourFormat dateStarted}} {{dayFormat dateStarted}}
			{{#if groupID}}<strong>Group: </strong>{{/if}}{{parseGroupName groupID}}
			{{#if peopleIDs}}<strong>Rowers: </strong>{{/if}}
			{{#if groupID}}{{parseGroupUserNames groupID}}, {{/if}}{{parseUserNames peopleIDs}}
			{{#if boatID}}<strong>Boat: </strong>{{/if}}{{parseBoatNames boatID}}
			<!-- <a class="right small green waves-effect waves-light btn">Mark as done<i class="material-icons right">done</i></a> -->
		</div>

		<div class="collapsible-body row">
			<div class="col s6">
				<p>	
					{{#if distance}}<strong>Distance: </strong>{{distance}} kilometres<br />{{/if}}
					{{#if time}}<strong>Estimated duration: </strong>{{time}} minutes<br />{{/if}}
					{{#if comment}}<strong>Comments: </strong>{{comment}}<br />{{/if}}
					{{#if training}}
					<div class="row">
						<div class="col s3">
							<strong>Trainings: </strong> <!-- </strong>{{parseTraining training}} -->
						</div>
						<div class="col s9">
							{{#each parseTrainings training}}
								{{> trainingView}}
							{{/each}}
						</div>
					</div>
					{{/if}}
					<br />
					<button type="submit" class="btn btn-primary orange session-start">Start session<i class="material-icons right">play_arrow</i></button>
					 <!-- {{#quickRemoveButton collection="Events" _id=this._id class="waves-effect btn"}}Delete session<i class="material-icons left">not_interested</i>{{/quickRemoveButton}} -->
				</p>
			</div>
			<div class="col s6">
				<p>
				<!-- {{> quickForm collection="Events" doc=this id=this._id type="update" buttonContent=false autosave=true}} -->
				{{#autoForm collection="Events" doc=this id=this._id type="update" buttonContent=false}}
				    <fieldset>
				      <legend>Modify session</legend>
				      {{> afQuickField name='date'}}
				      {{> afQuickField name='peopleIDs'}}
				      {{> afQuickField name='groupID'}}
				      {{> afQuickField name='boatID'}}
				      {{> afQuickField name='time'}}
				      {{> afQuickField name='training'}}  
				      <button type="submit" class="btn btn-primary blue" >Modify session<i class="material-icons right">mode_edit</i></button>
				    </fieldset>
				    
				  {{/autoForm}}
				</p>
			</div>
		</div>
	</li>
</template>

<template name="doneSessions">
	<div class="card z-depth-0">
		<div class="card-content">

			<span class="card-title">Finished Sessions: </span>
			<ul class="collapsible z-depth-0">
				{{#each eventsDone}}
					{{> eventDone}}
				{{/each}}
			</ul>

			<center>
				<button type="submit" class="btn btn-flat events-prev waves-effect waves-light">Previous<i class="material-icons left">chevron_left</i></button>

				<button type="submit" class="btn btn-flat events-next waves-effect waves-light">Next<i class="material-icons right">chevron_right</i></button>
			</center>
			<br />

		</div>
	</div>
</template>

<template name="eventDone">
	<li>
		<div class="collapsible-header"><i class="material-icons left">assessment</i>
			<strong>Date: </strong>{{hourFormat dateStarted}} {{dayFormat dateStarted}}
			{{#if groupID}}<strong>Group: </strong>{{/if}}{{parseGroupName groupID}}
			{{#if peopleIDs}}<strong>Rowers: </strong>{{/if}}
			{{#if groupID}}{{parseGroupUserNames groupID}}, {{/if}}{{parseUserNames peopleIDs}}
			{{#if boatID}}<strong>Boat: </strong>{{/if}}{{parseBoatNames boatID}}
		</div>

		<div class="collapsible-body row">
			<div class="col s6">
				<p>	
					<!-- <strong>Time: </strong>{{time}} minutes<br /> -->
					{{#if distance}}<strong>Distance: </strong>{{distance}} kilometres<br />{{/if}}
					{{#if time}}<strong>Estimated duration: </strong>{{time}} minutes<br />{{/if}}
					{{#if comment}}<strong>Comments: </strong>{{comment}}<br />{{/if}}
					{{#if training}}
					<div class="row">
						<div class="col s3">
							<strong>Trainings: </strong> <!-- </strong>{{parseTraining training}} -->
						</div>
						<div class="col s9">
							{{#each parseTrainings training}}
								{{> trainingView}}
							{{/each}}
						</div>
					</div>
					{{/if}}
					<br />
				</p>
			</div>
		</div>
	</li>
</template>

<template name="boathouseView">
	 {{#if Template.subscriptionsReady}}
	   	<!-- {{>eventsListUser}} -->
	   	{{>rowNow}}
	   	{{>ongoingSessions}}
	   	<!-- {{>plannedSessions}} -->
	   	{{>doneSessions}}
	{{else}}
		{>Loading}}
	{{/if}}
</template>

<template name="trainingView">
	<div class="collapsible z-depth-0">
	<li>
		<div class="collapsible-header"><i class="material-icons left">assessment</i>{{name}}</div>
		<div class="collapsible-body">
				<p>
					{{description}}
					<br /><br />
					<ul class="collection">
						{{#each plan}}
							<li class="collection-item">{{this}}</li>
							<br />
						{{/each}}
					</ul>
				</p>
		</div>
	</li>
	</div>
</template>