<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title class='center-align'>Rowbook</title>
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
</head>

<body>
<nav>
 <div class="nav-wrapper z-depth-1" style="background-color: white">
   <a href="#" class="brand-logo center" style="color: #444;" onclick="window.location.reload(true);">Rowbook</a>
   {{#if currentUser}}
     {{#if isBoathouse }}
        <div class="left" style="color: #444; margin-left: 2em;">
           <ul>
              <li><img src="row1.svg" style="border: 0;height: 35px;margin-top: 13px;padding-right: 10px;"></li>
              <li>Row effortlessly</li>
            </ul>
               
         </div>
        <ul id="nav-mobile" class="right" style="color: black, margin-right: 2em;">
             
             <li>{{> notificationsDropdown}}</li>
             <li>{{> atNavButton}}</li>
         </ul>
       {{else}}
          <div class="left" style="color: #444; margin-left: 2em;">
             <ul>
               <li>
                 <img src="row1.svg" style="border: 0;height: 35px;margin-top: 13px;padding-right: 10px;">
               </li>
                Welcome <strong>{{currentUser.profile.name}}</strong>! <small>({{currentUser.username}})</small>
                <li>
                  
                </li>
              </ul> 

           </div>
          <ul id="nav-mobile" class="right" style="color: black, margin-right: 2em;">
               {{#if isInRole 'admin'}}
                  {{else}}
                      <li>{{> notificationsDropdown}}</li>
                {{/if}}
               <li>{{> atNavButton}}</li>
           </ul>
         {{/if}}
    {{/if}}
   <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li><a href="sass.html">Sass</a></li>
     <li><a href="badges.html">Compon  ents</a></li>
     <li><a href="collapsible.html">JavaScript</a></li>
   </ul> -->
 </div>
</nav>
<header><br /><br /></header>
  <div class="container">
   
    <!-- <header>
      <h1>Rowbook</h1>
    </header> -->
  </div>

    <div class="row">
      <div class="col s12 m8 offset-m2 l4 offset-l4 z-depth-1">
        {{> atForm}}
      </div>
    </div>

    <div class="container">

      {{#if currentUser}}
          {{#if isInRole 'admin'}}
            {{> adminView}}
          {{else}}
            {{#if isBoathouse }}
              {{> boathouseView}}
            {{else}}
              {{> userView}}
            {{/if}}
        {{/if}}

      {{/if}}
    </div>

</body>


<template name="notificationsDropdown">
    <a class="dropdown-button" data-activates="dropdown1" data-beloworigin="true">
    <ul>
      <li><i class="fa fa-2x fa-bell right" style="color:{{newNotification}};"></i></li>
      <li>
        <span class="fa-stack fa-lg right" style="color:{{newNotification}}; bottom: 6px; font-size: 0.8em;">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-inverse fa-stack-1x">{{notificationCount}}</i>
         </span>
      </li>
    </ul>

    </a>

    <ul id="dropdown1" class="dropdown-content" data-beloworigin="true">
      {{#each allMessages}} 
        <li class="notification notRead{{read}}">
          <a class="black-text" id="{{_id}}"><i class=""></i>{{title}} <i class="fa fa-times-circle right" aria-hidden="true"></i></a>

        </li>
      {{/each}}
    </ul>
</template>

<template name="Notifications">
  <ul class="notification-list">
    {{#each Notifications}}
      <li>
        <a class="{{class}}"><i class=""></i> {{title}}</a>

      </li>
    {{/each}}
  </ul>
</template>