<template name="user_event">
	<li class="collection-item">
	<div>
		{{profile.name}}
		<a class="waves-effect btn-flat" id="user-event-remove" ><i class="material-icons left">not_interested</i>Remove user from event</a>
		<a class="waves-effect btn-flat" id="user-event-paid" >{{#if hasPaid}}Paid!{{else}}Hasn't paid{{/if}}</a><br />
	  <i>{{email}}</i>
	</div>
	</li>
</template>


<template name="user">
	<li>
  		<div class="collapsible-header"><i class="material-icons left">perm_identity</i>{{profile.name}}</div>
  		<div class="collapsible-body">
			<!-- ID: {{_id}} -->
			<!-- <p>Google mail: {{services.google.email}}</p> -->
			<!-- <p>Facebook mail: {{services.facebook.email}}</p> -->
			<p>Mail: {{email}}</p>
			<br />
			<a id="user-remove" class="waves-effect btn"><i class="material-icons left">not_interested</i>Remove user</a>

			<a id="user-restart" class="waves-effect btn"><i class="material-icons left">not_interested</i>Free user to change choices</a>

			<a id="user-admin" class="waves-effect btn"><i class="material-icons left">grade</i>Give admin privileges</a>

			<br /><br />
			
			<div style="margin: 0 2em;">
				<h5>Assigned events:</h5>
				{{#each chosenEvents}}
			        {{#if p start.dateTime }}
			  	    	<center><h6 class="" id="{{_id}}">{{dayFormat start.dateTime}}</h6></center>
			  	  	{{/if}}
		
			  		{{> oneEvent}}
  
			  	{{/each}}
		  	</div>
			<!-- 	</div>
			</div> -->
		</div>
  	</li>
</template>

<template name="userAdmin">
	<li>
  		<div class="collapsible-header"><i class="material-icons left">today</i></div>
  		<div class="collapsible-body">
		

			<p></p>
			<a id="user-remove" class="waves-effect btn"><i class="material-icons left">not_interested</i>Remove user</a>

			<br />

			<a id="user-admin" class="waves-effect btn"><i class="material-icons left">grade</i>Give admin privileges</a>

			<br />
		</div>
  	</li>
</template>
